@import "type";

a,
a:link
a:visited {
    color: #333;
    font-weight: bold;
}
a:hover,
a:active {
    color: #111;
}

.controls {
    min-height: 30px;
    font-size: 14px !important;
    font-family: helvetica;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
}
.controls p {
    margin: 0;
    padding: 5px;
    width: 33.333%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    overflow: hidden;
}
.controls a {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #ddd;
    display: inline-block;
    padding: 1px 5px;
}
.controls a.on {
    background: #bbb;
    box-shadow: none;
}
.controls input[type="number"] {
    padding: 1px;
}

/* Don't do this of course, we'll have a normalise. */
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    line-height: 1;
    display: block;
}


.article-head {
    /*padding: 1.5rem 0 0.7rem 0;*/
}
.article-paragraph {
    padding-top: 0.8rem;
}


.gug-container {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    margin-top: 100px;
    max-width: 1100px;
}

.adaptive .gug-container {
    width: 276px;
    min-width: 276px;
    margin-left: auto;
    margin-right: auto;
}

.gug-grid-overlay {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/images/fluid-grid4.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    overflow: hidden;
    opacity: 0.5;
}

.fluid .gug-grid-overlay {
    background-size: 100%;
}

@media only screen and (min-width:600px){
    .fluid .gug-grid-overlay {
        background-image: url(/images/fluid-grid-12.png);
    }
}



// Adaptive ones here.

.adaptive .gug-grid-overlay {
    background-image: url(/images/adaptive/320.png);
}
@media only screen and (min-width:480px){
    .adaptive .gug-grid-overlay {
        background-image: url(/images/adaptive/480.png);
    }
    .adaptive .gug-container {
        width: 420px;
    }
}
@media only screen and (min-width:768px){
    .adaptive .gug-grid-overlay {
        background-image: url(/images/adaptive/768.png);
    }
    .adaptive .gug-container {
        width: 708px;
    }
}
