.gug-margins {
    margin: 0 auto;
}
.gug-container {
    position: relative;
    min-width: 320px;
}
.gug-row {
    clear: both;
    overflow: hidden;
    margin-bottom: 1em;
}
.gug-unit {
    float: left;
    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


// Set gutter width for 6 cols
.gug-row {
    margin-left: -3%;
}
.gug-unit {
    padding-left: 3%;
}
// Set gutter width for 12 cols
@media only screen and (min-width:600px) {
    .gug-row {
        margin-left: -2%;
    }
    .gug-unit {
        padding-left: 2%;
    }
}


@mixin device-type($namespace:""){


    /**
     * Whole
     */
    .#{$namespace}gug-1of1         { width:100%; }


    /**
     * Halves
     */
    .#{$namespace}gug-1of2         { width:50%; }


    /**
     * Thirds
     */
    .#{$namespace}gug-1of3          { width:33.333%; }
    .#{$namespace}gug-2of3          { width:66.666%; }


    /**
     * Quarters
     */
    .#{$namespace}gug-1of4          { width:25%; }
    .#{$namespace}gug-2of4          { @extend .#{$namespace}gug-1of2 }
    .#{$namespace}gug-3of4          { width:75%; }


    /**
     * Fifths
     */
    .#{$namespace}gug-1of5          { width:20%; }
    .#{$namespace}gug-2of5          { width:40%; }
    .#{$namespace}gug-3of5          { width:60%; }
    .#{$namespace}gug-4of5          { width:80%; }


    /**
     * Sixths
     */
    .#{$namespace}gug-1of6         { width:16.666%; }
    .#{$namespace}gug-2of6         { @extend .#{$namespace}gug-1of3; }
    .#{$namespace}gug-3of6         { @extend .#{$namespace}gug-1of2; }
    .#{$namespace}gug-4of6         { @extend .#{$namespace}gug-2of3; }
    .#{$namespace}gug-5of6         { width:83.333%; }

    /**
     * Sevenths
     */
    .#{$namespace}gug-1of7         { width:14.2857%; }
    .#{$namespace}gug-2of7         { width:28.5714%; }
    .#{$namespace}gug-3of7         { width:42.8571%; }
    .#{$namespace}gug-4of7         { width:57.1428%; }
    .#{$namespace}gug-5of7         { width:71.4285%; }
    .#{$namespace}gug-6of7         { width:85.7142%; }


    /**
     * Eighths
     */
    .#{$namespace}gug-1of8         { width:12.5%; }
    .#{$namespace}gug-2of8         { @extend .#{$namespace}gug-1of4; }
    .#{$namespace}gug-3of8         { width:37.5%; }
    .#{$namespace}gug-4of8         { @extend .#{$namespace}gug-1of2; }
    .#{$namespace}gug-5of8         { width:62.5%; }
    .#{$namespace}gug-6of8         { @extend .#{$namespace}gug-3of4; }
    .#{$namespace}gug-7of8         { width:87.5%; }

    /**
     * Ninths
     */
    .#{$namespace}gug-1of9         { width:11.1111%; }
    .#{$namespace}gug-2of9         { width:22.2222%; }
    .#{$namespace}gug-3of9         { width:33.3333%; }
    .#{$namespace}gug-4of9         { width:44.4444%; }
    .#{$namespace}gug-5of9         { width:55.5555%; }
    .#{$namespace}gug-6of9         { width:66.6666%; }
    .#{$namespace}gug-7of9         { width:77.7777%; }
    .#{$namespace}gug-8of9         { width:88.8888%; }


    /**
     * Tenths
     */
    .#{$namespace}gug-1of10        { width:10%; }
    .#{$namespace}gug-2of10        { @extend .#{$namespace}gug-1of5; }
    .#{$namespace}gug-3of10        { width:30%; }
    .#{$namespace}gug-4of10        { @extend .#{$namespace}gug-2of5; }
    .#{$namespace}gug-5of10        { @extend .#{$namespace}gug-1of2; }
    .#{$namespace}gug-6of10        { @extend .#{$namespace}gug-3of5; }
    .#{$namespace}gug-7of10        { width:70%; }
    .#{$namespace}gug-8of10        { @extend .#{$namespace}gug-4of5; }
    .#{$namespace}gug-9of10        { width:90%; }


    /**
     * Twelfths
     */
    .#{$namespace}gug-1of12        { width:8.333%; }
    .#{$namespace}gug-2of12        { @extend .#{$namespace}gug-1of6; }
    .#{$namespace}gug-3of12        { @extend .#{$namespace}gug-1of4; }
    .#{$namespace}gug-4of12        { @extend .#{$namespace}gug-1of3; }
    .#{$namespace}gug-5of12        { width:41.666% }
    .#{$namespace}gug-6of12        { @extend .#{$namespace}gug-1of2; }
    .#{$namespace}gug-7of12        { width:58.333%; }
    .#{$namespace}gug-8of12        { @extend .#{$namespace}gug-2of3; }
    .#{$namespace}gug-9of12        { @extend .#{$namespace}gug-3of4; }
    .#{$namespace}gug-10of12       { @extend .#{$namespace}gug-5of6; }
    .#{$namespace}gug-11of12       { width:91.666%; }

}
